.App {

}

*{
  padding: 0;
  margin: 0;
}

.bettery {
  width: 20%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.7;
}

.able{
  background-color: #91A3B0;
  width: 260px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h2.txt {
  z-index: 9999;
}
.carge {
  background: #dddddda6;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  font-family: arial;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  z-index: -9999;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: arial;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.blog-container{
  width: 92%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.blog{
  background-color: #dddddd50;
  padding: 16px;
  border-radius: 10px;
}